@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css">
</head>
<body>
  <div id="nav">
    <div class="title">@ViewBag.Title</div>
    <div class="user-panel">
      @Html.React("UserPanel", new
      {
        name = ViewBag.UserName
      })
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="container body-content">
    @RenderBody()
  </div>
  @Scripts.Render("~/bundles/main")
  @Html.ReactInitJavaScript()
</body>
</html>